<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
<a href="/about">About</a>
<footer>
    Copyright, {{ currentYear }}
</footer>
</body>
</html>