<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    {{> header }}
    <p>Sorry, the application is not avaiable at the moment. Try again later...</p>
    {{> footer}}
</body>
</html>